---
import { Image } from "astro:assets";
import heroImage from "@images/hero-image.png";
import CtaButtonsLight from "@components/Cta-buttons-light.astro";
---

<div class="container">
    <header>
        <h1>Shake Up Your Next Event with Jonesy Private Bartending</h1>
        <Image
            src={heroImage}
            alt="private bartending and bar staff hire"
            class="hero-img"
        />
        <p>
            Professional bartending meets good vibes—serving unforgettable
            experiences across Albury, Wangaratta, Beechworth, and beyond!
        </p>
        <div class="cta-button-area">
            <CtaButtonsLight />
        </div>
    </header>
</div>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    header h1 {
        font-size: 2rem;
        line-height: 1em;
    }
    .hero-img {
        width: 70%;
        margin: 0px auto;
        height: auto;
    }

    @media (min-width: 768px) {
        header {
            display: grid;
            grid-template-areas:
                "title image"
                "heroText image"
                "buttons buttons";
            grid-template-columns: 1.5fr 1fr;
            gap: 3em;
        }
        header h1 {
            grid-area: title;
        }
        header p {
            grid-area: heroText;
        }
        .cta-button-area {
            grid-area: buttons;
        }
        .hero-img {
            grid-area: image;
            width: 100%;
        }
    }
    @media (min-width: 1024px) {
        header {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
