---

---

<section>
    <div class="value-container">
        <div class="value-card">
            <h3>Fun & Professional</h3>
            <p>
                We believe events should be enjoyable and stress-free. Our team
                combines friendly personalities with professional service,
                ensuring a fun yet polished experience every time.
            </p>
        </div>

        <div class="value-card">
            <h3>Exceptional Customer Service</h3>
            <p>
                Your satisfaction is our top priority. From planning to
                execution, we go the extra mile to accommodate your needs and
                exceed your expectations.
            </p>
        </div>

        <div class="value-card">
            <h3>Creativity & Quality</h3>
            <p>
                At Jonesy Private Bartending, creativity meets craftsmanship. We
                proudly serve innovative, beautifully crafted cocktails,
                mocktails, and beverages using premium ingredients.
            </p>
        </div>
    </div>
</section>

<style>
    .value-container {
        display: flex;
        gap: 2em;
        flex-direction: column;
    }
    .value-card {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        border: 1px solid; /* border width and style */
        box-shadow: var(--box-shadow);
        border-image: linear-gradient(to right, var(--gold), #4d3d00) 1;
    }

    @media (min-width: 768px) {
        .value-container {
            flex-direction: row;
            gap: 1em;
            flex-wrap: wrap;
        }
        .value-card {
            width: calc(50% - 0.5em);
            box-sizing: border-box;
            padding: 2em;
        }
        .value-card:last-of-type {
            width: 100%;
        }
    }

    @media (min-width: 1024px) {
        .value-card:last-of-type {
            width: 100%;
            text-align: center;
        }
        .value-container {
            gap: 2em;
        }
        .value-card {
            width: calc(50% - 1em);
            padding: 3em;
        }
    }
</style>
