---
import { Image } from "astro:assets";
import awardImage from "@icons/award.svg";
const { title, text } = Astro.props;
---

<div class="why-card">
    <Image src={awardImage} alt={title} />
    <div class="text-content">
        <h2>{title}</h2>
        <p>{text}</p>
    </div>
</div>

<style>
    .why-card {
        display: flex;
        gap: 1em;
    }
    .text-content {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 768px){
        .why-card{
            flex-direction: column;
            width: calc(50% - 1.5em);
            box-sizing: border-box;
            align-items: center;
        }
        h2{
            text-align: center;
        }
    }
</style>
