---
import Image from "astro/components/Image.astro";
import callIcon from "@icons/call-light.svg";
---

<div class="cta-btns">
    <a href="tel:0423 740 299" class="secondary">
        <Image src={callIcon} alt="call jonesy private bartending" />
        Call
    </a>
    <a href="/contact-jonesy-private-bartending/#contact-form" class="primary">
        Book Your Bartender Now
    </a>
</div>

<style>
    .cta-btns {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .primary {
        border-radius: 6em;
        background-color: var(--gold);
        width: fit-content;
        box-shadow: var(--box-shadow);
        font-weight: 800;
    }

    .secondary {
        border-radius: 6em;
        width: fit-content;
        background-color: inherit;
        border: 1px solid #ffff;
        color: #ffff;
    }
    a {
        text-decoration: none;
        display: flex;
        gap: 0.5em;
        align-items: center;
        justify-content: center;
        padding: 0.4em 1em;
        color: var(--dark);
        font-weight: 800;
    }

    @media (min-width: 1024px) {
        .primary {
            transition: box-shadow 0.25s cubic-bezier();
        }
        .primary:hover {
            box-shadow: none;
        }
    }
</style>
