---
const today = new Date();
---

<footer>
	<div class="site-links">
		<p>Site Navigation</p>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/">About</a></li>
			<li><a href="/">Our Service</a></li>
			<li><a href="/">Contact</a></li>
		</ul>
	</div>
	<div class="footer-end">
		<a href="https://beachsidewebdesigns.com">
			&copy; {today.getFullYear()} Beachside Web Designs</a
		>
	</div>
</footer>
<style>
	footer {
		background-color: var(--dark);
		color: #fff;
		padding: 1em;
	}
	.site-links p {
		font-weight: 600;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	.footer-end {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3em;
	}
	@media (min-width: 768px){
		footer{
			padding: 4em 4em 0px 4em;
		}
	}
</style>
